@import url('https://fonts.googleapis.com/css2?family=Schibsted%20Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Zinc BG(zinc-900): 240 6% 10% */

/* Lavender colour codes: 
 1st hsl(267 97% 88%)
 2nd hsl(268 95% 75%) 
 3rd hsl(267 57% 72%)
 */

 
:root {
  --display-family: "Schibsted Grotesk", "sans-serif";
  --display-weight: 700;
  --text-family: "Open Sans", "sans-serif";
  --text-weight: 400;
}

.font-display {
  font-family: var(--display-family);
  font-weight: var(--display-weight);
}
.font-text {
  font-family: var(--text-family);
  font-weight: var(--text-weight);
}

 @layer base {
  :root {
    --base-50: 210 20% 98%;
    --base-100: 220 14.3% 95.9%;
    --base-200: 216 10.6% 90.8%;
    --base-300: 216 6% 83.7%;
    --base-400: 228 2.7% 63.3%;
    --base-500: 216 2.2% 44.9%;
    --base-600: 216 3% 33.1%;
    --base-700: 225 3.1% 25.5%;
    --base-800: 220 3.7% 15.9%;
    --base-900: 220 6.1% 9.6%;
    --base-950: 240 12.5% 3.1%;
    --base-1000: 180 33.3% 0.6%;

    --primary-50: 0 71.4% 97.3%;
    --primary-100: 0 80.6% 93.9%;
    --primary-200: 0 85.7% 89%;
    --primary-300: 0 89.4% 81.6%;
    --primary-400: 0 88.3% 69.8%;
    --primary-500: 0 84.2% 60.2%;
    --primary-600: 0 72.2% 50.6%;
    --primary-700: 0 72% 42%;
    --primary-800: 1 66.9% 35.5%;
    --primary-900: 1 58% 30.8%;
    --primary-950: 1 67.5% 15.7%;
    --primary-1000: 0 78.4% 7.3%;

    --background: var(--base-50);
    --foreground: var(--base-800);
    --card: 0 0% 100%;
    --card-foreground: var(--base-800);
    --popover: 0 0% 100%;
    --popover-foreground: var(--base-800);
    --primary: var(--primary-600);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--base-200);
    --secondary-foreground: var(--base-950);
    --muted: var(--base-100);
    --muted-foreground: var(--base-600);
    --accent: var(--base-100);
    --accent-foreground: var(--base-800);
    --destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
    --border: var(--base-200);
    --input: var(--base-300);
    --ring: var(--primary-600);
    --chart-1: var(--primary-600);
    --chart-2: var(--primary-200);
    --chart-3: var(--primary-400);
    --chart-4: var(--primary-300);
    --chart-5: var(--primary-100);
    --radius: 0.5rem;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: var(--base-800);
    --sidebar-primary: var(--primary-600);
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: var(--base-50);
    --sidebar-accent-foreground: var(--base-800);
    --sidebar-border: var(--base-200);
    --sidebar-ring: var(--primary-600);
    --cream: var(--primary-50);
  }

  .dark {
    --background: var(--base-950);
    --foreground: var(--base-200);
    --card: var(--base-900);
    --card-foreground: var(--base-200);
    --popover: var(--base-900);
    --popover-foreground: var(--base-200);
    --primary: var(--primary-600);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--base-700);
    --secondary-foreground: var(--base-50);
    --muted: var(--base-800);
    --muted-foreground: var(--base-300);
    --accent: var(--base-800);
    --accent-foreground: var(--base-200);
    --destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
    --border: var(--base-800);
    --input: var(--base-700);
    --ring: var(--primary-600);
    --chart-1: var(--primary-600);
    --chart-2: var(--primary-200);
    --chart-3: var(--primary-400);
    --chart-4: var(--primary-300);
    --chart-5: var(--primary-100);
    --sidebar: var(--base-900);
    --sidebar-foreground: var(--base-200);
    --sidebar-primary: var(--primary-600);
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: var(--base-800);
    --sidebar-accent-foreground: var(--base-200);
    --sidebar-border: var(--base-800);
    --sidebar-ring: var(--primary-600);
    --cream: var(--primary-1000);
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}