@layer base {
    :root {
      --background: 267 35% 100%;
      --foreground: 267 69% 1%;
      --muted: 0 7% 91%;
      --muted-foreground: 0 8% 30%;
      --popover: 267 35% 100%;
      --popover-foreground: 267 69% 1%;
      --card: 267 35% 100%;
      --card-foreground: 267 69% 1%;
      --border: 267 6% 95%;
      --input: 267 6% 95%;
      --primary: 267 97% 88%;
      --primary-foreground: 267 97% 28%;
      --secondary: 0 0% 82%;
      --secondary-foreground: 0 0% 22%;
      --accent: 0 0% 82%;
      --accent-foreground: 0 0% 22%;
      --destructive: 12 91% 29%;
      --destructive-foreground: 12 91% 89%;
      --ring: 267 97% 88%;
      --chart-1: 267 97% 88%;
      --chart-2: 0 0% 82%;
      --chart-3: 0 0% 82%;
      --chart-4: 0 0% 85%;
      --chart-5: 267 100% 88%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 270 0% 0%;
      --foreground: 267 24% 97%;
      --muted: 267 7% 9%;
      --muted-foreground: 267 8% 70%;
      --popover: 267 48% 1%;
      --popover-foreground: 267 24% 97%;
      --card: 270 6.67% 5.88%;
      --card-foreground: 267 24% 97%;
      --border: 267 6% 11%;
      --input: 267 6% 11%;
      --primary: 267 97% 88%;
      --primary-foreground: 267 97% 28%;
      --secondary: 267 13% 14%;
      --secondary-foreground: 267 13% 74%;
      --accent: 267 13% 14%;
      --accent-foreground: 267 13% 74%;
      --destructive: 360 75.38% 39.91%;
      --destructive-foreground: 0 0% 100%;
      --ring: 267 97% 88%;
      --chart-1: 267 97% 88%;
      --chart-2: 267 13% 14%;
      --chart-3: 267 13% 14%;
      --chart-4: 267 13% 17%;
      --chart-5: 267 100% 88%;
    }
  }
  